// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


.btn-modal-register{
    border-top-left-radius:  0 !important;
    border-top-right-radius:  0 !important;  
}
